@-webkit-keyframes floatingBalloon {
  0% {
    display: block;
    left: 100%;
  }
  100% {
    display: none;
    left: -50%;
  }
}
@-moz-keyframes floatingBalloon {
  0% {
    display: block;
    left: 100%;
  }
  100% {
    display: none;
    left: -50%;
  }
}
@keyframes floatingBalloon {
  0% {
    display: block;
    left: 100%;
  }
  100% {
    display: none;
    left: -50%;
  }
}
@-webkit-keyframes showingBalloon {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes showingBalloon {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes showingBalloon {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
div.wrapper {
  position: relative;
  top: 40%;
  height: 300px;
}

html.tree, body.tree {
  background: #ee7f00;
}

html, body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  background: white;
  text-align: center;
  background: #96d7ed;
  color: white;
  font-family: "Itim", cursive;
  height: 100%;
  overflow: hidden;
}
html input, body input {
  border: white 2px solid;
  line-height: 30px;
  background: rgba(0, 0, 0, 0);
  font-size: 2em;
  color: white;
  font-family: "Itim", cursive;
  padding: 5px;
  margin: 5px;
  border: 0px;
  border-bottom: 2px solid white;
}
html input:focus, body input:focus {
  outline: 0;
}
html input#user-name-input, body input#user-name-input {
  width: 200px;
  text-align: center;
}
html button#msg-btn, body button#msg-btn {
  border: white 2px solid;
  line-height: 30px;
  background: rgba(0, 0, 0, 0);
  font-size: 2em;
  color: white;
  font-family: "Itim", cursive;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  height: 1em;
  box-shadow: 0px 3px 0px 0px white;
  position: relative;
  top: 0;
}
html button#msg-btn:focus, body button#msg-btn:focus {
  outline: 0;
}
html div#msg-whole, body div#msg-whole {
  height: 560px;
  width: 728px;
  background-image: url(../images/tree.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
  overflow: auto;
  padding: 10px;
}
html div#msg-whole div.my-msg, body div#msg-whole div.my-msg {
  padding-top: 15px;
  position: absolute;
  width: 100px;
  height: 200px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  -webkit-animation: floatingBalloon 40s;
  -moz-animation: floatingBalloon 40s;
  animation: floatingBalloon 40s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  background-image: url(../images/balloon-orange_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree, body div#msg-whole div.my-msg-tree {
  padding-top: 15px;
  position: absolute;
  width: 100px;
  height: 200px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  -webkit-animation: showingBalloon 20s;
  -moz-animation: showingBalloon 20s;
  animation: showingBalloon 20s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-orange.png);
  background-repeat: no-repeat;
}

/*# sourceMappingURL=index.css.map */
