@-webkit-keyframes floatingBalloon {
  0% {
    display: block;
    left: 100%;
  }
  100% {
    display: none;
    left: -50%;
  }
}
@-moz-keyframes floatingBalloon {
  0% {
    display: block;
    left: 100%;
  }
  100% {
    display: none;
    left: -50%;
  }
}
@keyframes floatingBalloon {
  0% {
    display: block;
    left: 100%;
  }
  100% {
    display: none;
    left: -50%;
  }
}
@-webkit-keyframes showingBalloon {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes showingBalloon {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes showingBalloon {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
div.wrapper {
  position: relative;
  top: 40%;
  height: 300px;
}
div.wrapper h2#sent {
  display: none;
}

html.tree, body.tree {
  background: #ee7f00;
}

html, body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  background: white;
  text-align: center;
  background: #ccf1ff;
  background-image: url(../images/cloud.png), url(../images/cloud.png);
  background-position: 10% 0%, 80% 20%;
  background-repeat: no-repeat;
  color: white;
  font-family: "Itim", cursive;
  height: 100%;
  overflow: hidden;
}
html input, body input {
  border: white 2px solid;
  line-height: 30px;
  background: rgba(0, 0, 0, 0);
  font-size: 2em;
  color: white;
  font-family: "Itim", cursive;
  padding: 5px;
  margin: 5px;
  border: 0px;
  border-bottom: 2px solid white;
}
html input:focus, body input:focus {
  outline: 0;
}
html input#user-name-input, body input#user-name-input {
  width: 200px;
  text-align: center;
}
html input::-webkit-input-placeholder, body input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}
html button#msg-btn, body button#msg-btn {
  border: white 2px solid;
  line-height: 30px;
  background: rgba(0, 0, 0, 0);
  font-size: 2em;
  color: white;
  font-family: "Itim", cursive;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  height: 1em;
  box-shadow: 0px 3px 0px 0px white;
  position: relative;
  top: 0;
}
html button#msg-btn:focus, body button#msg-btn:focus {
  outline: 0;
}
html div#msg-whole, body div#msg-whole {
  height: 787px;
  width: 700px;
  background-image: url(../images/tree.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 3.8em;
  overflow: auto;
  padding: 10px;
}
html div#msg-whole div.my-msg-0, body div#msg-whole div.my-msg-0 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: floatingBalloon 60s;
  -moz-animation: floatingBalloon 60s;
  animation: floatingBalloon 60s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
  background-image: url(../images/balloon-blue_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree-0, body div#msg-whole div.my-msg-tree-0 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: showingBalloon 35s;
  -moz-animation: showingBalloon 35s;
  animation: showingBalloon 35s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-blue.png);
  background-repeat: no-repeat;
}
html div#msg-whole div.my-msg-1, body div#msg-whole div.my-msg-1 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: floatingBalloon 60s;
  -moz-animation: floatingBalloon 60s;
  animation: floatingBalloon 60s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
  background-image: url(../images/balloon-orange_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree-1, body div#msg-whole div.my-msg-tree-1 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: showingBalloon 35s;
  -moz-animation: showingBalloon 35s;
  animation: showingBalloon 35s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-orange.png);
  background-repeat: no-repeat;
}
html div#msg-whole div.my-msg-2, body div#msg-whole div.my-msg-2 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: floatingBalloon 60s;
  -moz-animation: floatingBalloon 60s;
  animation: floatingBalloon 60s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
  background-image: url(../images/balloon-pink_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree-2, body div#msg-whole div.my-msg-tree-2 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: showingBalloon 35s;
  -moz-animation: showingBalloon 35s;
  animation: showingBalloon 35s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-pink.png);
  background-repeat: no-repeat;
}
html div#msg-whole div.my-msg-3, body div#msg-whole div.my-msg-3 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: floatingBalloon 60s;
  -moz-animation: floatingBalloon 60s;
  animation: floatingBalloon 60s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
  background-image: url(../images/balloon-purple_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree-3, body div#msg-whole div.my-msg-tree-3 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: showingBalloon 35s;
  -moz-animation: showingBalloon 35s;
  animation: showingBalloon 35s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-purple.png);
  background-repeat: no-repeat;
}
html div#msg-whole div.my-msg-4, body div#msg-whole div.my-msg-4 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: floatingBalloon 60s;
  -moz-animation: floatingBalloon 60s;
  animation: floatingBalloon 60s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
  background-image: url(../images/balloon-red_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree-4, body div#msg-whole div.my-msg-tree-4 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: showingBalloon 35s;
  -moz-animation: showingBalloon 35s;
  animation: showingBalloon 35s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-red.png);
  background-repeat: no-repeat;
}
html div#msg-whole div.my-msg-5, body div#msg-whole div.my-msg-5 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: floatingBalloon 60s;
  -moz-animation: floatingBalloon 60s;
  animation: floatingBalloon 60s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
  background-image: url(../images/balloon-yellow_big.png);
  background-repeat: no-repeat;
  color: white;
}
html div#msg-whole div.my-msg-tree-5, body div#msg-whole div.my-msg-tree-5 {
  padding-top: 25px;
  position: absolute;
  width: 150px;
  height: 300px;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px #000;
  -webkit-animation: showingBalloon 32s;
  -moz-animation: showingBalloon 32s;
  animation: showingBalloon 32s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
  width: 40px;
  height: 80px;
  background-image: url(../images/balloon-yellow.png);
  background-repeat: no-repeat;
}

div#balloon-counter {
  position: fixed;
  top: 85%;
  left: 5%;
  width: 210px;
  height: 100px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 2px #000;
}
div#balloon-counter h3 {
  color: black;
  font-size: 15px;
  margin: 5px 0;
}
div#balloon-counter span:first-of-type {
  margin-left: 10px;
}
div#balloon-counter span {
  line-height: 1.6em;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  width: 40px;
  height: 50px;
  background-color: #ee7f00;
}

.no-animation {
  animation: none !important;
}

/*# sourceMappingURL=index.css.map */
