@import "baseDesign"
@import "vars"
@import "msgStyle"
@import "keyFrames"
@import "animation"


@include keyframes-floatingBalloon
    0%
        display: block
        left: 100%
    100%
        display: none
        left: -50%

@include keyframes-showingBalloon
    0%
        transform: scale(0, 0)
    80%
        transform: scale(0, 0)
    100%
        transform: scale(1, 1)

div.wrapper
    position: relative
    top: 40%
    height: 300px

html.tree, body.tree
    background: $bg-send-color

html, body
    font-size: 30px
    margin: 0
    padding: 0
    background: white
    text-align: center
    background: $bg-color
    color: white
    font-family: 'Itim', cursive
    height: 100%
    overflow: hidden
    input
        @include base-design
        border: 0px
        border-bottom: 2px solid white
        &#user-name-input
            width: 200px
            text-align: center
    button#msg-btn
        @include base-design
        border-radius: 3px
        height: 1em
        box-shadow: 0px 3px 0px 0px white
        position: relative
        top: 0
    div#msg-whole
        height: 560px
        width: 728px
        background-image: url(../images/tree.png)
        background-repeat: no-repeat
        margin: 0 auto
        margin-top: 20px
        overflow: auto
        padding: 10px
        div.my-msg
            @include msg-style
            @include animation(floatingBalloon 40s)
            background-image: url(../images/balloon-orange_big.png)
            background-repeat: no-repeat
            color: white
        div.my-msg-tree
            @include msg-style
            @include animation(showingBalloon 20s)
            width: 40px
            height: 80px
            background-image: url(../images/balloon-orange.png)
            background-repeat: no-repeat